.grid{
    display: grid;
}

.image-gallery{
    width: 150px;
    height: 150px;
}


.controls-container{
    
    display: flex;
    justify-content: space-between;
}

.head{
    display: flex;
    justify-content: space-between;
    background-color: #ff7f00;
    height: 2.0625rem;
}